* {
    box-sizing: border-box;
    margin: 0;
}

.dashboard-container{
    display: flex;
}

.sidebar-container{
    display: flex;
    flex-direction: column;;
    align-items: center;
    background-color: rgb(29, 134, 209);
    color: white;
    height: 100vh;
    width: 20vw;
}

.navbar-container{
    /* border-bottom: 1px solid black;   */
    /* height: 160px; */
    height: 20vh;
    width: 80vw;
    padding: 20px;
    /* z-index: 10; */
    position: relative;
    /* top: 10px; */
    box-shadow: 0 5px 5px #c8e3fb;
}

.upper{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    height: 50%;
}

.upper .upperLeft input{
    background-color: #e3f1fe;
    border-radius: 15px;
    border: none;
    height: 30px;
    width: 350px;
}

.lower{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
}

.lowerRight ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.lowerRight ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 134, 209);
    /* border: 1px solid black; */
    border-radius: 15px;
    color: white;
    width: 75px;
    height: 30px;
}

.projects-container{
    background-color: #e3f1fe;
    display: flex;
    justify-content: space-between;
    height: 80vh;
    padding: 20px 20px
}

.projects-container .projects .project{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 5px #c8e3fb;
    width: 400px;
    height: 200px;
    padding: 20px;
}
.projects-container .announcements .announcement{
    background-color: white;
    border-radius: 5px;
    width: 300px;
    height: 100px;
    padding: 20px;
}