@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Roboto, sans-serif;
    /* min-height: 100vh; */
}

.dashboard-container{
    display: flex;
    /* flex-direction: column; */
    min-height: 100vh;
}

.sidebar-container{
    display: flex;
    flex-direction: column;;
    align-items: center;
    background-color: rgb(89, 167, 255);
    color: white;
    min-height: 100vh;
    width: 20vw;
    gap: 40px;
    /* box-shadow: 0 5px 5px #c8e3fb; */
}

.hero-section{
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    width: 80vw;
    min-height: 100vh;
}

.text-logo{
    display: flex;
    align-items: center;
}

.item-text{
    display: flex;
    align-items: center;
    gap: 10px;
}

.middleSideBar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 22px;
}

.lowerSideBar{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px;
}

.navbar-container{
    /* border-bottom: 1px solid black;   */
    /* height: 160px; */
    min-height: 25vh;
    min-width: 80vw;
    padding: 0 20px;
    /* z-index: 10; */
    position: relative;
    /* top: 10px; */
    box-shadow: 0 5px 5px #c8e3fb;
}

.upper{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    height: 30%;
    /* width: 5px; */
    /* position: relative; */
    /* width: auto; */
    /* margin-bottom: 20px; */

}

.upper .upperLeft{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    /* position: absolute; */
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    /* height: 20px; */
}

.upper .upperLeft input{
    background-color: #e3f1fe;
    border-radius: 15px;
    border: none;
    height: 30px;
    width: 350px;
    /* position: absolute; */
}

.upperRight{
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    /* position: relative; */
    width: 500px;
}

.upperRight .topLogo{
    background-color: rgb(242, 205, 57);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    border-radius: 50px;
    width: 50px;
    height: 50px;
    /* margin-bottom: 70px; */
    /* position: absolute;
    top: 0;
    right: 175px; */
    
}

.lower{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70%;
}

.lowerLeft{
    display: flex;
    align-items: center;
    gap: 20px;
}

.lowerLeft .bottomLogo{
    background-color: rgb(242, 205, 57);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    border-radius: 50px;
    width: 75px;
    height: 75px;

}

.lowerRight ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.lowerRight ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(89, 167, 255);
    /* border: 1px solid black; */
    border-radius: 25px;
    color: white;
    width: 120px;
    height: 50px;
}

.projects-container{
    /* border: 1px solid black; */
    background-color: #e3f1fe;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    padding: 20px 20px
}

.leftSide{
    /* border: 1px solid black; */
    /* min-width: 660px; */
    min-width: 100%;
}

.projects-container .projects{
    /* border: 1px solid black; */
    min-width: 75%;
}

.projects-container .projects .project-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
    /* border: 1px solid black; */
    /* width: 200px; */
}

.projects-container .projects .project-container .project{
    background-color: white;
    /* border: 1px solid black; */
    border-left: 10px solid rgb(242, 205, 57);
    border-radius: 10px;
    /* border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
    /* border-top-left-radius: 5px; */
    box-shadow: 0 5px 5px #c8e3fb;
    max-width: 45%;
    min-height: 200px;
    padding: 20px;
    /* word-wrap: break-word; */
    position: relative;
}

.projectBottom{
    padding: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    /* right: 0; */
    /* bottom: 0; */
    /* max-height: 40%; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
}
.rightSide-section{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 25px;
    min-width: 25%;
    
}
.projects-container .announcement{
    margin-top: 10px;
    /* border: 1px solid black; */
}
.projects-container .announcements .announcement{
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 5px;
    box-shadow: 0 5px 5px #c8e3fb;
    min-width: 100%;
    min-height: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.afterFirstAnn{
    border-top: 1px solid black;
    padding-top: 10px;
}

.project-container .trending{
    display: flex;
    flex-direction: column;
}
.projects-container .trending .trend{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 5px #c8e3fb;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
    min-width: 100%;
    min-height: 100px;
    padding: 20px;
}

.trendLogo{
    background-color: rgb(242, 205, 57);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 40px;
    height: 40px;
}

.trendUser{
    display: flex;
    gap: 10px;
}
